<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-vlcplayer" version="0.1.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">

  <name>VLC Player</name>
  <js-module src="www/vlcplayer.js" name="VLCPlayer">
    <clobbers target="cordova.plugins.vlcplayer" />
    <clobbers target="window.plugins.vlcplayer" />
  </js-module>

  <platform name="ios">
    <!-- Pull libVLC for iOS -->
    <framework src="MobileVLCKit" type="podspec" />
    <!-- If you want to pin a version, use: <framework src="MobileVLCKit" spec="3.6.0" type="podspec" /> -->

    <!-- Swift support (Cordova sets this for you in most MABS images, but safe to include): -->
    <preference name="SwiftVersion" default="5.0" />

    <source-file src="src/ios/VLCPlayer.swift" />
  </platform>
</plugin>
